@use "govuk-frontend" as *;

.app-location-input {
  @include govuk-clearfix;
  font-size: 0; // removes whitespace caused by inline-block
  margin-bottom: govuk-spacing(6);

  &:has(.govuk-input--error) {
    border-left: $govuk-border-width-form-group-error solid $govuk-error-colour;
    padding-left: govuk-spacing(3);
    margin-top: 0;
  }
}

.govuk-hint:has(+ .app-location-input .govuk-input--error) {
  border-left: $govuk-border-width-form-group-error solid $govuk-error-colour;
  padding-left: govuk-spacing(3);
  margin-bottom: 0;
}

.govuk-fieldset:has(.app-location-input .govuk-input--error) {
  .govuk-fieldset__legend {
    border-left: $govuk-border-width-form-group-error solid $govuk-error-colour;
    padding-left: govuk-spacing(3);
    margin-bottom: 0;
  }

  .govuk-fieldset__legend + .govuk-hint {
    margin-top: 0;
  }
}

.app-location-input__item {
  display: inline-block;
  margin-right: govuk-spacing(4);
  margin-bottom: 0;

  &:last-child {
    margin-right: 0;
  }

  .govuk-form-group {
    margin-bottom: 0;
    display: inline-block;
    width: auto;
  }

  .govuk-label {
    display: block;
  }

  .govuk-input {
    margin-bottom: 0;
    width: auto;
  }
}
