@use "govuk-frontend" as *;
@use "shared";
@use "code";
@use "tag-env";

//  An example of some user-supplied styling
//  Not great practice but it illustrates the point
.govuk-header {
  background: #008531;
}

.govuk-header__container {
  border-bottom: 10px solid #003d16;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}
