@use "govuk-frontend" as *;
@use "pkg:accessible-autocomplete";
@use "code";
@use "prose";
@use "service-banner";
@use "summary-list";
@use "tag-env";

// Use default GDS Transport font for autocomplete
.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  @include govuk-typography-common;
}

//  An example of some user-supplied styling
//  Not great practice but it illustrates the point
.govuk-header {
  background: #008531;
}

.govuk-header__container {
  border-bottom: 10px solid #003d16;
}
