@use "govuk-frontend" as *;
@use "pkg:accessible-autocomplete";
@use "prose";
@use "summary-list";

// Use default GDS Transport font for autocomplete
.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  @include govuk-typography-common;
}

.app-hidden {
  display: none;
  visibility: hidden;
}

// Used in postcode lookup
.govuk-button--link {
  @extend %govuk-link;
  color: $govuk-link-colour;
  border: none;
  cursor: pointer;
  background-color: transparent;
  @include govuk-font($size: 19);
}

// Hide urls for hyperlinks when in print mode
@media print {
  .govuk-link[href]::after {
    content: none;
  }
}
