{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink -%}
{% from "govuk/components/footer/macro.njk" import govukFooter -%}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner -%}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink -%}
{% from "govuk/macros/attributes.njk" import govukAttributes -%}
{% from "components/service-banner/macro.njk" import appServiceBanner -%}
{% from "components/tag-env/macro.njk" import appTagEnv -%}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner -%}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner -%}

{% set productName %}
{% endset %}

{% block head %}
{% endblock %}

{% block pageTitle -%}
  {{ "Error: " if errors | length }}{{ pageTitle | evaluate }} - {{ name if name else config.serviceName }} - GOV.UK
{%- endblock %}

{% block skipLink %}
{% endblock %}

{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Default page template</h1>
{% endblock %}

{% block bodyEnd %}
{% endblock %}

{% block footer %}
{% endblock %}
