{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set tagEnv = " app-tag--env" %}

{% set text = params.env | replace("-", " ") | capitalize %}
{% set classes = "govuk-tag--grey" %}

{{ govukTag({
  text: text,
  classes: classes + tagEnv
}) }}
